* {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

.button {
    cursor: pointer;
    transition: .44s;

    &:hover {
        transform: scale(1.1);
        transform-origin: center;
    }

    &:active {
        transform: scale(.9);
        transform-origin: center;
    }
}

a {
    display: block;
    transition: .55s;
}

a:hover {
    transform: scale(1.1);
    transform-origin: center;
}

.button {
    padding: 9px 15px;
    background-color: #965CFF;
    border-radius: 12px;
    font-weight: 400;
    color: #fff;
    line-height: 21.6px;
    letter-spacing: 0.18px;
}