.hero {
    margin-bottom: 80px;

    &__container {
        max-width: 470px;
        margin-left: auto;
        margin-right: auto;
    }

    &__inner {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    &__title {
        text-align: center;
        color: #fff;
        font-weight: 400;
        font-size: 46px;
        line-height: 59.8px;
        letter-spacing: 0.46px;
        margin-bottom: 20px;
    }

    &__description {
        color: #fff;
        font-weight: 400;
        font-size: 22px;
        line-height: 33px;
        letter-spacing: 0.7px;
        margin-bottom: 20px;
    }
}